$warm: #ff9200;
$warm-dull: #bf8230;
$warm-dark: #a65f00;
$warm-bright: #ffad40;
$warm-light: #ffc373;

$cool: #0b61a4;
$cool-dull: #25567b;
$cool-dark: #033e68;
$cool-bright: #3f92d2;
$cool-light: #66a3d2;

$text-light: #ccc;
$text-dark: #999;

$background: #202020;
$wrapper-background: #202020;
$top-background: #333;
$main-background: #333;
$footer-background: #333;
